<%- include("partials/header") %>
<h1>Community Engagement</h1>

<div class="commImage">
    <h3 id="introQuote">"What you leave behind is not what is engraved in stone monuments, but what is woven into the lives of others."</h3>
    <p style="font-size: medium;">-Pericles</p>
</div>

<br>
<br>
<br>

<div class= "ONNAMISSION community">
    <h1>ONNAMISSION</h1>
    <div class= "ONNABody">

    <div class="ONNADesc Clairmont-Description">
        <p>
            Every night, there are hundreds of people in the city of Atlanta that don't have a home to go to. Some are able to find shelter at certain fecilities, others sleep in tents, and some call the street their bed. While they might all have different shelters at night, they all experience the same pangs of hunger that many have sadly gotten used to. 
        </p>

        <p>
            If you ever find yourself in the city of Atlanta, take a drive or walk down Washington St. and Mitchell St. SW. There, the things you see might shock you and maybe even leave you confused or upset. Rows of tents lie in the path of homeless folks as they walk up and down the street looking for any signs that they might be able to find a meal from a person who isn't scared to make eye contact with them. Sometimes you'll see someone hand a cup of coffe or a sandwich, but most go about on the way to their office, which usually happens to be the state's Capitol Building. The same building that stands seemingly unaware of the plight next door.
        </p>

        <p>
            A few blocks north west of Washington and Mitchell, you will find Woodruff Park in the heart of Downtown Atlanta. Standing in the middle of the park and looking south, you'll catch a good look of a giant Coca Cola sign, marking the building where the first glass of Coca Cola was ever sold. Looking at the north side of the park, you will usually see a good amount of people sitting in front of a fountain talking, sleeping, and waiting for food. Talking with them, you generally hear stories of faith, family members they are no longer in touch with, and which part of the city they are headed to next. A lot of times you'll also get "God bless you son", "What are you  studying?", and "Come by again, we appreciate the water". 
        </p>
        <p>
            ONNAMISSION, On a Mission, was started by my me and my friend Nathaniel Thomas. While I had been serving and engaging with folks in the Downtown area, Nathaniel had been serving people in Midtown and Decatur. We had been serving on our own for a few years before deciding to start something together after learning that the other was also serving people. In February of 2022, Nathaniel and I brought together some of our common friends and started ONNAMISSION. The organization is focused on providing food and clothing. 
        </p>
        <p>
            Over the past months, we have given out over 300 meals to people in Atlanta and Decatur. We do our best to provide hot meals by using coupons at Dominos to secure sizeable amounts of hot pizza at affordable rates. Our main source of funding has been our own pay checks, but we are trying to get corporate sponsorships to scale our efforts. 
        </p>
        <p>
            As I learn more about web and app developement, my goal is to create a Service Networking App (a social netwrok that is focused on serving the community) through which any user can contribute to the community. The app would have two sides: the user and the recipient.  
        </p>
        <ul class= "ONNAList">
            <li>The recipient would have a device similar to a Life Alert necklace that they can press when they need food.</li>
            <li> The device would then send a signal to the App's users, and the App would send a message to all users who are within a certain radius of the signal being sent.</li>
            <li> Users could then open the app which would have a map interface. The map would show a pin where the signal is coming from and then display all the restaurants in the area.</li>
            <li>Users can pick a restaurant and order a menu item from there online.</li>
            <li>There can be an option for a solo order or group order</li>
            <li>In the solo order, a single user would pay for the whole meal and deliver it to the recipient</li>
            <li>In the group order, multiple users would be able to pitch in for the price of the meal and one person would deliver it to the recipient</li>
        </ul>
        <p>
            One of the main reasons why I decided to learn Computer Science is becuase of the magnificent tools it can offer in solving problems. With the technical knowledge and the will to serve, I believe we will be able to make this app a success and scale our mission to great heights. 
        </p>

    </div>
    <!-- text div -->

    <div class="ONNAPictures">
        <img src="/images/WashingtonSt.png" class="ONNAPicture">
        <p class = "imgCaption">Homeless people seen across the street from the Georgia State Capitol on Washington St.</p>
        <img src="/images/WoodruffPark.png" class="ONNAPicture">
        <p class = "imgCaption">People with no where else to go trying to stay warm at Woodruff Park</p>

        <img src="/images/bluetent.jpeg" class="ONNAPicture">
        <p class = "imgCaption">Nathaniel handing out food.</p>
        <img src="/images/greentent.jpeg" class="ONNAPicture">
        <p></p>
        <img src="/images/OnnaMap.png" class="MapPicture">
        <p>App idea with Google Maps API</p>
        
    
    </div>

    

    </div>
    <!-- body div -->
    
</div>

<br>
<br>

<div class= "Clairmont-Dining community">
    <h1>Clairmont Dining</h1>
    <h3 style="text-align: center;"><a href="https://clairmontdining.com/" target="_blank" style="text-decoration: none;">Website Link</a></h3>
    <br>

    <div class= "DescAndVid">

    <div class= "Clairmont-Description">
        
        <p>
            Clairmont Dining was a project that I took up during my final year of undergrad in order to address a need at Emory University’s Clairmont Campus. The Clairmont Campus is a residential area, about a half mile away from the main campus, where 3rd and 4th year students live. 
        </p>
        
        <p>
            Clairmont has a group of dorm buildings, a small rec center, and a cafeteria. The main downside of the location is that it is far away from any shops or restaurants, and the cafeteria is always crowded. Students would wait in a long line to make an order at a small counter and receive a ticket number in return. They would then wait in a cramped lobby area for their order number to be called out. On any given weekday the wait time at the Clairmont Cafe would be 15-30 minutes, and during peak hours it could easily climb to 40-60 minutes. 
        </p>
        
        <p>
           Many students complained about the wait times, but nothing changed. Eventually, I got fed up with this whole ordeal, and I decided to make a food ordering app so that students wouldn't have to wait in this absurd line every evening. To show the dining administration that this was a real issue, I visited every apartment door at the Clairmont Campus and got 105 students to sign a petition to institute an ordering app for the Clairmont Cafe. Over the course of 3 weeks, I taught myself how to use WordPress in order to make a dynamic ordering website that was easy to access and operate. This way, I could build and deploy the site quickly, and it would be easy to use and update for someone who didn't know programming.
        </p>
        
        
        <p>
            Once I finished the website, I set up a meeting with the Campus Dining Director and his boss, the Director of Campus Life. The meeting went well, and they asked me to work with them over the summer to help implement the website into their system. When I tried to set up another meeting to discuss the details of the integration, the Dining Director notified me that the university decided to move forward with a different ordering service that had been implemented in a number of other college campuses. Even though the university did not implement my website, I still felt like I advanced the goal of improving the dining experience for students on campus. 
        </p>
        

        <p>
           Unfortunately, when I visited the Clairmont Cafe a year afterwards, I found out that the university never introduced the other ordering service, and students were still waiting in long lines for dinner. I hope other students are able to get together and convince the administration to institute a better dining experience on the Clairmont Campus in the future. 
        </p>
        
        <p>
            The website is still active and you can access it <a href="https://clairmontdining.com/" target="_blank">here</a>.
        </p>

    </div>

    <!-- <div class="CD-Video">
        <h3 style="text-align: center;">Clairmont Dining Demo & Interviews</h3>
        <iframe width="460" height="280" src="https://www.youtube.com/embed/vFG5RkUs2BQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div> -->

    <div class="CDPictures">

        <h3 style="text-align: center;">Clairmont Dining Demo & Interviews</h3>
        <iframe width="460" height="280" src="https://www.youtube.com/embed/vFG5RkUs2BQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

        <img src="/images/CDiningHome.png" class="CDPicture">
        <p></p>
        <img src="/images/FlatTop.png" class="CDPicture">
        <p></p>
        
        
        
    
    </div>


    </div>
    

</div>

<div class= "MoreTAD community">

</div>





<%- include("partials/footer") %>