
<%- include("partials/header") %>

<h1>Welcome</h1>
<div class="IntroImage">
    <h3 id="introQuote">"So many of our dreams at first seem impossible, then they seem improbable, and then, when we summon the will, they soon become inevitable."</h3>
    <p>-Christopher Reeve</p>
</div>


<br>
<div class="MainProfile">
    
    <img src="/images/TennesseePeak.jpg" id="profilephoto">

    <div class = "text-box">

    <div class = "profile-text">
    <h3 id="profile-heading">Problem Solver | Creative Thinker | Community Leader</h3>
    <h5 id="profileDesc"> A winding road tells a greater story. My path certainly hasn't been a straight one, but the hills and stretches have led me through groves of skills that I would have never picked through otherwise. I enjoy solving problems, engaging with people, and creating. I find that my business background and creative endeavors help me look at problems from a different angle. I am currently an accomplished Master's Student at John's Hopkins where I am pursuing a degree in Computer Science. My goal is to pair my knowledge of Computer Science with my passion for creativity so that I can build strong products and services that will help other people. </h5>
    </div>
    <!-- profile text div -->

    <div class = "Education">
    <h3>Education</h3>
    <h5 class="ens"> John's Hopkins - Masters</h5>
    <ul class="lists">
        <li>Major: Computer Science</li>
        <li>Specializations: Artificial Intelligence</li>
        <li>GPA: 3.75</li> 
    </ul>

    <h5 class="ens"> Emory University - Bachelors</h5>
    <ul class="lists">
        <li>Major: Business Administration</li>
        <li>Specializations: Finance, Consulting, Entrepreneurship</li>
        <li>GPA: 3.30</li> 
    </ul>

    </div>
    <!-- Education div -->


    </div>
    <!-- Text Box Div -->

    <div class = "Skills">
    <h3>Skills</h3>
    <ul class="skill-list">
        <li>Java</li>
        <li>Python</li>
        <li>React</li>         
        <li>AWS Cloud System</li>
        <li>EJS</li> 
        <li>node.js</li> 
        <li>JS/HTML/CSS</li> 
        <li>C++</li> 
        <li>SQL</li> 
        <li>MongoDB</li> 
        <li>Distributed Systems</li>
        <li>Microsoft Excel</li> 
        <li>Public Speaking</li> 
    </ul>

    </div>
    <!-- Skills div -->

</div>
<!-- Main Profile div -->

<div class="proj-carousel">

</div>

<div class="proj-involvement">
    <h3> <a href="/codingprojects" class="bottom-links">Coding Projects</a> </h3>
    <h3> <a href="/community" class="bottom-links">Community Involvement</a> </h3>

</div>




<%- include("partials/footer") %>

